body{
    font-family: Bahnschrift, Calibri, Arial, sans-serif;
}

nav{
width: 100%;
height: 60px;
background: #344051;
}

.logo{
color: #fff;
font-size: 28px;
line-height: 60px;
padding-left: 388px;
float: left;
}

.menu{
    float: left;
    padding-left: 432px;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: 100%;
    background: url(../img/colorboy.png) 90% 100%/auto 85% no-repeat , url(../img/fon.jpg) center/cover no-repeat;
}

.title__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}

.container_about_img{
    width: 100%;
    height: 300px;
    background: url(../img/cherta.png) 50% 0%/72px 4px no-repeat , url(../img/boy.png) center/199px 205px no-repeat;
}

.container_about{
    width: 100%;
    text-align: center;
    height: 100%;
}

.container_about h2{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263244;
    padding: 109px 448px 30px 448px;
    
}

.container_about p{
    width: 739px;
 text-align: left;
    margin: 10px 597px 44px 597px;
}

.container_about input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 0px 14px 50px 14px;
}

.ican{
    height: 520px;
    width: 100%;
    }

.container__ican{
    float: left;
    width: 100%;
    background: url(../img/cherta.png)  50% 30%/72px 4px no-repeat , url(../img/kartfon.jpg) center/1920px 523px no-repeat;
}

.img_ican1{
    float: left;
    text-align: center;
    margin: 200px 0px 50px 230px;
    width: 300px;
}

.img_ican1 li{
    color: #cf7600;
    text-transform: uppercase;
    font-size: 16px;
    margin: 37px 1px 15px 1px;
    font-weight: bold;
    
}

.img_ican2{
    float: left;
    text-align: center;
    margin: 200px 0px 0px 83px;
    width: 300px;
}

.img_ican2 li{
    color: #cf7600;
    text-transform: uppercase;
    font-size: 16px;
    margin: 31px 1px 15px 1px;
    font-weight: bold; 
}

.img_ican3{
    float: left;
    text-align: center;
    margin: 200px 1px 0px 83px;
    width: 300px;
}

.img_ican3 li{
    color: #cf7600;
    text-transform: uppercase;
    font-size: 16px;
    margin: 22px 1px 15px 1px;
    font-weight: bold; 
}

.img_ican4{
    float: left;
    text-align: center;
    margin: 200px 1px 0px 83px;
    width: 300px;
}

.img_ican4 li{
    color: #cf7600;
    text-transform: uppercase;
    font-size: 16px;
    margin: 22px 1px 15px 1px;
    font-weight: bold; 
}

.container__ican h2{
    float: left;
    font-size: 40px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    padding: 100px 830px 0px 830px;
    width: 100%;
}

.keyses{
}
.container__keys{
    float: left;
    width: 100%;
    background: url(../img/cherta.png) 50% 11%/72px 4px no-repeat;
}

.keyses h2{
    float: left;
    text-align: center;
    font-size: 40px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    padding: 70px 880px;
}

.keyses h3{
    float: left;
    text-align: center;
    font-size: 15px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    padding-top: 50px;
    width: 100%;
}


.container__keys img{
    padding-top: 20px;
}

.text {
    margin: 0px 0px 0px 380px;
    color: #2c384a;
}

.text_p {
    float: left;
    width: 200px;
    height: 70px;
}

.text_p h4{
    font-size: 20px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    width: 200px;
}


.text_h5 h4{
    font-size: 20px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
}

.text_h5 p{
    font-size: 10px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    width: 1150px;
}

.text input{
    height: 40px;
    font-weight: bold; 
    text-align: center;
    border: none;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 16px;
    margin: 26px 0px 50px 0px;
    width: 200px;
}

.howmany {
    width: 100%;
}

.container__how h2{
    float: left;
    text-align: center;
    font-size: 30px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    padding: 70px 800px;
}

.container__how h3{
    font-size: 20px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    padding: 20px 500px;
}

.container__how select{
    margin-left: 500px;
    border:  2px solid #6d7682;
    width: 890px;
    height: 60px;
    background: #eeeeee;
    color: #737373;
}

.liniya {
    padding: 40px 500px 20px 500px;
}

.container__how li{
    float: left;
    font-size: 20px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    padding: 0px 500px 20px 500px;
    width: 500px;
}

.container__how p{
    float: left;
    font-size: 20px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    margin: 0px 100px 20px 380px;
}

.statss {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background: url(../img/cherta.png) 50% 35%/auto no-repeat , url(../img/fon2.jpg) 90% 100%/cover no-repeat ;
}

.container__stat{
    width: 100%;
}

.img_stat1{
    float: left;
    text-align: center;
    margin: 180px 0px 0px 350px;
    width: 300px;
}

.img_stat1 li{
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    margin: 37px 1px 15px 1px;
    font-weight: bold;
    
}

.img_stat2{
    float: left;
    text-align: center;
    margin: 180px 0px 0px 0px;
    width: 300px;
}

.img_stat2 li{
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    margin: 40px 1px 15px 1px;
    font-weight: bold; 
}

.img_stat3{
    float: left;
    text-align: center;
    margin: 185px 1px 0px 0px;
    width: 300px;
}

.img_stat3 li{
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    margin: 35px 1px 15px 1px;
    font-weight: bold; 
}

.img_stat4{
    float: left;
    text-align: center;
    margin: 185px 1px 0px 0px;
    width: 300px;
}

.img_stat4 li{
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    margin: 30px 1px 15px 1px;
    font-weight: bold; 
}

.container__stat h2{
    float: left;
    font-size: 35px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    padding: 100px 750px 0px 750px;
    width: 100%;
}

.otz{
    height: 400px;
    
}
.container__otz{
    float: left;
    background: url(../img/cherta.png)  51% 40%/72px 4px no-repeat;
}

.container__otz h2{
    float: left;
    font-size: 35px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    padding: 100px 0px 0px 900px;
}

.container__otz img{
    float: left;
    margin: 70px 40px 40px 920px;
}

.container__otz h3{
    text-align: center;
    font-size: 10px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    margin: 350px 0px 0px 600px;
    width: 700px;
}

.container__otz p{
    float: left;
    text-align: center;
    font-size: 10px;
    font-weight: bold;    
    text-transform: uppercase;
    padding: 30px 0px 0px 870px;
    color: #263244;
}


.button img{
    padding: 60px 40px 0px 930px;
}

.contacts {
    margin-top: 200px;
    height: 860px;
    background: url(../img/cherta.png) 50% 19%/auto no-repeat , url(../img/fon3.jpg) 90% 100%/cover no-repeat ;
}

.container_contacts {
    width: 100%;
}

.container_contacts h2{
    font-size: 35px;
    text-align: center;
    font-weight: bold;    
    text-transform: uppercase;
    color: #fff;
    padding: 100px 800px 0px 800px;
    width: 100%;
}

.container_contacts  p{
    margin: 60px 40px 0px 00px;
    text-align: center;
    color: fff;
}

.name{
    text-align: center;
    padding: 100px 10px 0px 10px;
}

.adres{
    float: left;
    text-align: center;
    margin: 100px 0px 0px 600px;
    width: 200px;
}


.adres li{
    padding-top: 10px;
    color: #fff;
}

.email {
    float: left;
    text-align: center;
    margin: 100px 0px 0px 50px;
    width: 200px;
}

.email li{
    padding-top: 10px;
    color: #fff;
}

.number{
    float: left;
    text-align: center;
    margin: 100px 0px 0px 0px;
    width: 200px;
}


.number li{
    padding-top: 10px;
    color: #fff;
}

.container_contacts h3{
    text-align: center;
    margin: 200px 10px 0px 10px;
    color: #fff;
    font-size: 25px
}

.pole_name input{
    float: left;
    margin: 30px 0px 10px 590px;
    height: 35px;
    width: 350px;
}

.pole_email input{
    margin: 30px 0px 10px 30px;
    height: 35px;
    width: 350px;
}

.container_contacts textarea {
    margin: 0px 10px 10px 590px;
    width: 730px;
    height: 95px;
    background: #fff;
    opacity: 80%;
}

.contacts input{
    background: #fff;
    opacity: 80%;
}

.knopka input{    
    height: 40px;
    text-align: center;
    border: 2px solid #fff;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 16px;
    margin: 30px 10px 10px 900px;
}

.kartinki_contacts{
    padding: 66px 0px 10px 675px;
}

.facebook{
    float: left;
}

.twit{
    margin: 4px 0px 0px 60px;
    float: left;
}

.ball {
    float: left;
    margin: 2px 0px 0px 61px;
}

.cat{
    float: left;
    margin: 2px 0px 0px 57px;
}

.inst {
    float: left;
    margin: 2px 0px 0px 61px;
}

.in {
    float: left;
    margin: 3px 0px 0px 43px;
}

.map{
    width: 100%;
    height: 350px;
    background: url(../img/footermap.jpg)
}

.map input{
    height: 50px;
    width: 135px;
    text-align: center;
    border: 2px solid #fff;
    background: #fff;
    color: #000;
    font-size: 13px;
    padding: 0px 16px;
    margin: 140px 10px 10px 900px;
        font-weight: bold;    
    text-transform: uppercase;
    
}

.footer {
    width: 100%;
}

.container_footer{
    background: #344051;
    text-align: center;
    height: 90px;
    padding-top: 40px;
    color: #fff;
}
