body{
    font-family: Bahnschrift, Calibri, Arial, sans-serif;
}



nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s;
    -o-animation: 2s;
    animation: 2s;
}

.logo a{
    transition: all 0.3s;
    color: #fff;
    transform: scale(1);
}

.logo a:visited{
    color: #fff;
}

.logo a:hover{
    color: #f88c1e; 
    display: inline-block;
}

.logo a:active{
    transform: scale(1.2);
}

main{
    height: 100%;
    width: 100%;
}

.menu{
    float: left;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 1s forwards ease;
    -o-animation: topshift 1s forwards ease;
    animation: topshift 1s forwards ease;
    opacity: 0;
}

.menu li a{
    transition: all 0.3s;
    color: #fff;
    transform: scale(1);
    text-decoration: none;
}

.menu li a:visited{
    color: #fff;
}

.menu li a:hover{
    color: #5d82fa; 
    display: inline-block;
}

.menu li a:active{
    transform: scale(1.2);
}

main{
    width: 100%;
    height: 100%;
    background: url(../img/colorboy.png) 90% 100%/auto 85% no-repeat , url(../img/fon.jpg) center/cover no-repeat;
}

.title__container{
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    /*
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
    */
}

.title__container h1{
    font-size: 62px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
    transition: all 0.5s;
}


.title__container input:hover {
    display: inline-block;
    background: #a4b6ff;
    transform: scale(1.1);
}

.title__container input:active {
    display: inline-block;
    background: #ffb048;
     transform: scale(0.5);
}


@keyframes comming{
    from{
        opacity: 0;
}
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    0%{
        opacity: 0;
        margin-top: -80px;
    }
    
    50%{
        opacity: 0.5;
        margin-top: 0px;

    }
    
    70%{
        opacity: 0.7;
        margin-top: -20px;
    }
    
    100%{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2){
     animation-delay: 0.4s;
}

.menu li:nth-child(3){
     animation-delay: 0.8s;    
}

.menu li:nth-child(4){
     animation-delay: 1.2s;    
}

.menu li:nth-child(5){
     animation-delay: 1.6s;     
}

.menu li:nth-child(6){
     animation-delay: 2s;     
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    
    to{
        opacity: 1;
        margin-left: 0px;
    }
}

@media (max-width: 991px){
    .title__container, .title__container h4, .title__container input {
        color: bisque;
        position: relative;
        z-index: 3;
    }
    
    .title__container h1 {
        margin-top: 60%;
    }
    
    .title__container input{
        background: #83e2de;
    }
    
    .main{
        position: relative;
    }
    
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.2)
    }
    
}


.container_about_img{
    width: 100%;
    height: 300px;
    background: url(../img/cherta.png) center 0%/72px 4px no-repeat , url(../img/boy.png) center/10% no-repeat;
}


.container_about h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263244;
}

.container_about p{
    width: 739px;
 text-align: left;
}

.aboutme input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    transition: all 0.5s;
}

.aboutme input:hover {
    display: inline-block;
    background: #a4b6ff;
     transform: scale(1.1);
}

.aboutme input:active {
    display: inline-block;
    background: #ffb048;
     transform: scale(0.5);
}

@media (max-width: 991px){
    
    .container_about p{
        margin-left: 10%;
    }
    
}

.ican{
    width: 100%;
    }

.container__ican{
    float: left;
    width: 100%;
    background: url(../img/cherta.png)  50% 30%/72px 4px no-repeat , url(../img/kartfon.jpg) center/1920px 523px no-repeat;
}

.img_ican1{
    float: left;
    text-align: center;
    width: 300px;
    transition: all 0.5s;
    color: #000;
    transform: scale(1);
}

.img_ican1:hover{
    display: inline-block;
    transform: scale(1.5);
}

.img_ican1 li{
    color: #cf7600;
    text-transform: uppercase;
    font-size: 16px;
    margin: 37px 1px 15px 1px;
    font-weight: bold;
    
}

.img_ican2{
    float: left;
    text-align: center;
    width: 300px;
    transition: all 0.5s;
    color: #000;
    transform: scale(1);
}

.img_ican2:hover{
    display: inline-block;
    transform: scale(1.5);
}

.img_ican2 li{
    color: #cf7600;
    text-transform: uppercase;
    font-size: 16px;
    margin: 31px 1px 15px 1px;
    font-weight: bold; 
}

.img_ican3{
    float: left;
    text-align: center;
    width: 300px;
    transition: all 0.5s;
    color: #000;
    transform: scale(1);
}

.img_ican3:hover{
    display: inline-block;
    transform: scale(1.5);
}

.img_ican3 li{
    color: #cf7600;
    text-transform: uppercase;
    font-size: 16px;
    margin: 22px 1px 15px 1px;
    font-weight: bold; 
}

.img_ican4{
    float: left;
    text-align: center;
    width: 300px;
    transition: all 0.5s;
    color: #000;
    transform: scale(1);
}

.img_ican4:hover{
    display: inline-block;
    transform: scale(1.5);
}

.img_ican4 li{
    color: #cf7600;
    text-transform: uppercase;
    font-size: 16px;
    margin: 22px 1px 15px 1px;
    font-weight: bold; 
}

.container__ican h2{
    text-align: center;
    float: left;
    font-size: 40px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    width: 100%;
}

.keyses1 {
    width: 100%;
    background: url(../img/cherta.png) center 10%/72px 4px no-repeat;
}

.keyses1 h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
}

.keyses1 h3{
    text-align: center;
    font-size: 15px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    width: 100%;
}


.container__keys1 img{
    opacity: 0;
    -webkit-animation: keysesmove 1s ease forwards;
    -o-animation: keysesmove 1s ease forwards;
    animation: keysesmove 1s ease forwards;
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}

@keyframes keysesmove{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.text {
    color: #2c384a;
}

.text_p {
    float: left;
}

.text_p h4{
    font-size: 20px;
    float: left;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    width: 200px;
}


.text_h5 h4{
    font-size: 20px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
}

.text_h5 span{
    color: gainsboro;
    background: #535a67;
}

.text_h5 h5{
    padding-top: 5px;
    margin: 0px 0px 0px 80px;
    font-size: 10px;
    font-weight: bold;    
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #000;
    transition: all 0.3s;
    transform: scale(1);
}

.text_h5 h5:active{
    width: 700px;
    color: #000; 
    display: inline-block;
    transform: scale(1.4);
    z-index: 1;
    background: #fff;
}

.text input{
    height: 40px;
    font-weight: bold; 
    text-align: center;
    border: none;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 16px;
    width: 200px;
    transition: active 0.2s, hover 3s;
}

.howmany {
    width: 100%;
}

.container__how h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
}

.container__how h3{
    font-size: 20px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
}

.container__how select{

    border:  2px solid #6d7682;
    width: 890px;
    height: 60px;
    background: #eeeeee;
    color: #737373;
}

.container__how li{
    float: left;
    font-size: 20px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    padding: 0px 500px 20px 500px;
    width: 500px;
}

.container__how p{
    float: left;
    font-size: 20px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
}

.statss {
    margin-top: 200px;
    width: 100%;
    height: 500px;
    background: url(../img/cherta.png) 50% 35%/auto no-repeat , url(../img/fon2.jpg) 90% 100%/cover no-repeat ;
    background-attachment: fixed;
}

.container__stat{
    width: 100%;
}

.img_stat1{
    float: left;
    text-align: center;
    margin: 180px 0px 0px 350px;
    width: 300px;
    transition: all 0.5s;
    color: #000;
    transform: scale(1);
}

.img_stat1:hover{
    display: inline-block;
    transform: scale(1.3);
}

.img_stat1 li{
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    margin: 37px 1px 15px 1px;
    font-weight: bold;
    
}

.img_stat2{
    float: left;
    text-align: center;
    margin: 180px 0px 0px 0px;
    width: 300px;
    transition: all 0.5s;
    color: #000;
    transform: scale(1);
}

.img_stat2:hover{
    display: inline-block;
    transform: scale(1.3);
}

.img_stat2 li{
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    margin: 40px 1px 15px 1px;
    font-weight: bold; 
}

.img_stat3{
    float: left;
    text-align: center;
    margin: 185px 1px 0px 0px;
    width: 300px;
    transition: all 0.5s;
    color: #000;
    transform: scale(1);
}

.img_stat3:hover{
    display: inline-block;
    transform: scale(1.3);
}

.img_stat3 li{
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    margin: 35px 1px 15px 1px;
    font-weight: bold; 
}

.img_stat4{
    float: left;
    text-align: center;
    margin: 185px 1px 0px 0px;
    width: 300px;
    transition: all 0.5s;
    color: #000;
    transform: scale(1);
}

.img_stat4:hover{
    display: inline-block;
    transform: scale(1.3);
}

.img_stat4 li{
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    margin: 30px 1px 15px 1px;
    font-weight: bold; 
}

.container__stat h2{
    float: left;
    font-size: 35px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    padding: 100px 750px 0px 750px;
    width: 100%;
}

.otz{
    height: 400px;
    
}
.container__otz{
    background: url(../img/cherta.png)  51% 45%/72px 4px no-repeat;
}

.container__otz h2{
    font-size: 35px;
    font-weight: bold;    
    text-transform: uppercase;
    color: #263244;
    padding: 100px 0px 0px 900px;
}

.container__otz img{
    margin: 70px 40px 40px 920px;
}

.container__otz h3{
    text-align: center;
    font-size: 11px;
    font-weight: bold;    
    color: #263244;
    margin: 0px 0px 0px 600px;
    width: 700px;
    transition: all 0.3s;
    color: #000;
    transform: scale(1);
}

.container__otz h3:hover{
    color: #000; 
    display: inline-block;
    transform: scale(1.2);
}

.container__otz p{
    float: left;
    text-align: center;
    font-size: 10px;
    font-weight: bold;    
    text-transform: uppercase;
    padding: 30px 0px 0px 870px;
    color: #263244;
}

.button img{
    padding: 60px 40px 0px 930px;
}

.contacts {
    margin-top: 200px;
    height: 860px;
    background: url(../img/cherta.png) 50% 19%/auto no-repeat , url(../img/fon3.jpg) 90% 100%/cover no-repeat ;
}

.container_contacts {
    width: 100%;
}

.container_contacts h2{
    font-size: 35px;
    text-align: center;
    font-weight: bold;    
    text-transform: uppercase;
    color: #fff;
    padding: 100px 800px 0px 800px;
    width: 100%;
}

.container_contacts  p{
    margin: 60px 40px 0px 00px;
    text-align: center;
    color: fff;
}

.name{
    text-align: center;
    padding: 100px 10px 0px 10px;
}

.icons{
    transition: all 0.3s;
    color: #fff;
    transform: scale(1);
}


.adres{
    float: left;
    text-align: center;
    margin: 100px 0px 0px 600px;
    width: 200px;
    transition: all 0.3s;
    color: #fff;
    transform: scale(1);
}

.adres:hover{
    color: #5d82fa; 
    display: inline-block;
    transform: scale(1.5);
}


.adres li{
    padding-top: 10px;
    color: #fff;
}

.email {
    float: left;
    text-align: center;
    margin: 100px 0px 0px 50px;
    width: 200px;
    transition: all 0.3s;
    color: #fff;
    transform: scale(1);
}

.email:hover{
    color: #5d82fa; 
    display: inline-block;
    transform: scale(1.5);
}

.email li{
    padding-top: 15px;
    color: #fff;
}

.number{
    float: left;
    text-align: center;
    margin: 100px 0px 0px 0px;
    width: 200px;
    transition: all 0.3s;
    color: #fff;
    transform: scale(1);
}

.number:hover{
    color: #5d82fa; 
    display: inline-block;
    transform: scale(1.5);
}


.number li{
    padding-top: 15px;
    color: #fff;
}

.container_contacts h3{
    text-align: center;
    margin: 200px 10px 0px 10px;
    color: #fff;
    font-size: 25px
}

.pole_name input{
    float: left;
    margin: 30px 0px 10px 590px;
    height: 35px;
    width: 350px;
}

.pole_email input{
    margin: 30px 0px 10px 30px;
    height: 35px;
    width: 350px;
}

.container_contacts textarea {
    margin: 0px 10px 10px 590px;
    width: 730px;
    height: 95px;
    background: #fff;
    opacity: 80%;
}

.contacts input{
    background: #fff;
    opacity: 80%;
}

.knopka input{    
    height: 40px;
    text-align: center;
    border: 2px solid #fff;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 16px;
    margin: 30px 10px 10px 900px;
    transition: all 0.5s;
}

.knopka input:hover {
    display: inline-block;
    background: #a6aecc;
     transform: scale(1.1);
}

.knopka input:active {
    display: inline-block;
    background: #2e3847;
    transform: scale(0.5);
}

.kartinki_contacts{
    width: 100%;
    -webkit-animation: socialnetwork 1s forwards ease;
    -o-animation: socialnetwork 1s forwards ease;
    animation: socialnetwork 1s forwards ease;
    opacity: 0;
}

.kartinki_contacts a{
    transition: all 0.5s;
    color: #fff;
    transform: scale(1);
}

.kartinki_contacts a:hover{
    color: #5d82fa; 
    transform: scale(1.3);
    display: inline-block;
}

.kartinki_contacts a:active{
    transform: scale(1.2);
    background-color: #0e1929;
    display: inline-block;
}

@keyframes socialnetwork{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.facebook{
    margin: 66px 0px 10px 675px;
    padding: 11px 19px;
    float: left;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
}

.twit{
    margin: 66px 0px 0px 60px;
        padding: 13px;
    float: left;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
}

.ball {
    margin: 65px 0px 0px 60px;
    padding: 12px;
    float: left;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
}

.cat{
    margin: 65px 0px 0px 58px;
    padding: 12px;
    float: left;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
}

.inst {
    margin: 65px 0px 0px 58px;
    padding: 12px;
    float: left;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
}

.in {
    margin: 65px 0px 0px 58px;
    padding: 13px;
    float: left;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
}

.map{
    width: 100%;
    height: 350px;
    background: url(../img/footermap.jpg)
}

.map input{
    height: 50px;
    width: 135px;
    text-align: center;
    border: 2px solid #fff;
    background: #fff;
    color: #000;
    font-size: 13px;
    padding: 0px 16px;
    margin: 140px 10px 10px 900px;
    font-weight: bold;    
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 1s;
}

.map input:hover {
    display: inline-block;
    background: #fff;
     transform: skew(180deg);
}

.footer {
    width: 100%;
}

.container_footer{
    background: #344051;
    text-align: center;
    height: 90px;
    padding-top: 40px;
    color: #fff;
}
